:root {
    --ui: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    --box-shadow: 0px 2px 3px black;
}

body {
    margin: 0px;
    text-align: center;
}

/* Gives the content space on the sides */

main {
    margin: 0 10% 0 10%;
}

nav {
    position: fixed;
    background-color: var(--ui);
    text-align: left;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 20px;
    z-index: 10;
}

.navButton {
    color: white;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
}

.navButton:hover {
    animation-name: btnGrow;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes btnGrow {
    100% {
        background-color: rgb(33, 33, 33);
    }
}

h1 {
    margin-top: 2.5em;
}

.withSub {
    margin-bottom: -1em;
}

ul {
    list-style-position: inside;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 1%;
    margin: 5px;
}

blockquote {
    background-color: rgb(227, 227, 227);
    padding: 10px;
    margin: 2em;
    box-shadow: var(--box-shadow);
}

ul {
    text-align: left;
}

.bullets {
    /* background-color: red; */
    margin: auto;
    width: 21em;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}

footer {
    background-color: var(--ui);
    color: white;
    padding: 20px;
    width: 100%;
    margin-top: 1em;
}

/* screenread only class for alternative information */

.sr-only {
    position: absolute;
    left: -100000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.colorblind-examples {
    box-shadow: var(--box-shadow);
    padding: 20px;
}

#colorblind1 {
    color: blue;
    background-color: purple;
}

#colorblind1-fixed {
    color: rgb(0, 0, 177);
    background-color: rgb(199, 0, 199);
}

#colorblind2 {
    color: yellowgreen;
    background-color: red;
}

#colorblind2-fixed {
    color: yellowgreen;
    background-color: hsl(330, 100%, 40%);
}

#colorblind3 {
    color: lightsteelblue;
    background-color: rgb(218, 218, 0);
}

#colorblind3-fixed {
    color: rgb(23, 68, 128);
    background-color: rgb(255, 255, 0);
}

#bad {
    box-shadow: var(--box-shadow);
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.249);
    margin: 10px;
}

#good {
    box-shadow: var(--box-shadow);
    padding: 5px;
    background-color: rgba(0, 255, 0, 0.249);
    margin: 10px;
}

.subsection {
    width: 80%;
    margin: auto;
    margin-bottom: 1.5em;
}

/* For tab indexing */

p:focus {
    background-color: yellow;
}

.tabindex-practice {
    box-shadow: var(--box-shadow);
    padding: 5px;
    margin: 10px;
}