:root {
    --ui: rgb(46, 46, 46);
}

body {
    text-align: center;
}

nav {
    background-color: var(--ui);
    text-align: left;
}

.navbutton {
    margin: 10px;
}

img {
    height: 50vh;
    border-style: solid;
    border-width: 5px;
    border-radius: 1%;
}