:root {
    --ui: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    text-align: center;
}

nav {
    position: fixed;
    background-color: var(--ui);
    text-align: left;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 20px;
}

.navbutton {
    color: white;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
}

.navbutton:hover {
    animation-name: btnGrow;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes btnGrow {
    100% {
        background-color: rgb(33, 33, 33);
    }
}

h1 {
    margin-top: 3em;
}

main {
    margin: 0px 10% 0px 10%;
}

ul {
    list-style-position: inside;
    margin: auto;
}

img {
    height: 50vh;
    border-style: solid;
    border-width: 5px;
    border-radius: 1%;
    margin: 5px;
}

#layout-example {
    text-align: left;
    margin-left: 30%;
    margin-right: 10%;
}

footer {
    background-color: var(--ui);
    color: white;
    padding: 20px;
    width: 100%;
}